@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 0.579vw;
  /* 10px on 1728px */
}

@media screen and (min-width: 1728px) {
  html {
    font-size: 10px;
    /* 10px on 1728px and > 1728px*/
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 3.125vw;
    /* 10px on 320px */
  }
}
body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #0E0E1C;
  height: 100%;
  color: #FFFFFF;
}
body.active {
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.wrapper.active {
  overflow: hidden;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
._container {
  max-width: 109.2rem;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  ._container {
    max-width: 26.2rem;
  }
}
/*--CONTAINER----CONTAINER----CONTAINER--*/
/* --HEADER----HEADER----HEADER-- */
.header {
  display: flex;
  justify-content: center;
  position: relative;
}
.header_container {
  width: 141rem;
  display: flex;
  padding: 2.8rem 0rem;
}
.header_box {
  position: relative;
}
.header_box_logo {
  width: 8.2rem;
  height: 8rem;
}
.header_menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 3rem;
  z-index: 11;
}
.header_menu_list {
  z-index: 12;
  position: relative;
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header_menu_list_hide {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 4.4rem;
  right: 8.5rem;
  background: rgba(217, 217, 217, 0.1);
  padding: 1.5rem;
}
.header_menu_list_hide > li:not(:last-child) {
  margin-bottom: 1rem;
}
.header_menu_list_hide_link {
  color: #FFFFFF;
}
.header_menu_list_hide.active {
  visibility: visible;
  -webkit-animation: slide 1s ease forwards;
          animation: slide 1s ease forwards;
}
@-webkit-keyframes slide {
  from {
    height: 2rem;
  }
  to {
    height: 23rem;
  }
}
@keyframes slide {
  from {
    height: 2rem;
  }
  to {
    height: 23rem;
  }
}
.header_menu_item {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 134%;
  text-align: center;
  color: #FFFFFF;
  z-index: 13;
  position: relative;
  cursor: pointer;
  margin-right: 7rem;
}
.header_menu_item_box {
  display: none;
}
.header_menu_item:nth-child(5) {
  margin-right: 0rem;
}
.header_menu_item > li > svg {
  width: 1.2rem;
  height: 0.6rem;
}
.header_menu_button {
  z-index: 15;
  margin-right: 2rem;
  display: none;
}
@media (max-width: 500px) {
  .header_box {
    position: relative;
  }
  .header_box_logo {
    width: 4.8rem;
    height: 4.8rem;
  }
  .header_menu_list {
    background-color: rgba(0, 0, 0, 0.7450980392);
    position: absolute;
    overflow: scroll;
    top: -3.5rem;
    height: 102vh;
    left: 110%;
    padding: 11rem 3rem 5rem 3rem;
    width: 104%;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    transition: all 0.5s ease;
  }
  .header_menu_list.active {
    left: -1rem;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .header_menu_list_hide {
    visibility: hidden;
    height: 1px;
    overflow: hidden;
    position: static;
    background: none;
    padding: 0rem;
  }
  .header_menu_list_hide > li:not(:last-child) {
    margin-bottom: 1rem;
  }
  .header_menu_list_hide_link {
    color: #FFFFFF;
  }
  .header_menu_list_hide.active {
    margin-top: -2rem;
    margin-bottom: 2rem;
    visibility: visible;
    -webkit-animation: slide 1s ease forwards;
            animation: slide 1s ease forwards;
  }
  @-webkit-keyframes slide {
    from {
      min-height: 2rem;
    }
    to {
      min-height: 23rem;
    }
  }
  @keyframes slide {
    from {
      min-height: 2rem;
    }
    to {
      min-height: 23rem;
    }
  }
  .header_menu_item {
    font-weight: 500;
    font-size: 2rem;
    line-height: 106%;
    text-transform: uppercase;
    margin-right: 0px;
    margin-bottom: 4rem;
    color: #ffffff;
  }
  .header_menu_item:hover {
    border: none;
  }
  .header_menu_item:hover::before {
    content: none;
  }
  .header_menu_item_box {
    width: 100%;
    display: flex;
    margin-top: auto;
  }
  .header_menu_item_box_logo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .header_menu_item_box_logo > p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 181%;
    color: #ffffff;
    margin-top: 0.5rem;
  }
  .header_menu_item_box_social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .header_menu_item_box_social > a {
    margin-top: 1.5rem;
  }
  .header_menu_item:not(:last-child) {
    margin-right: 0px;
  }
  .header_menu_item:nth-child(2) {
    margin-right: 0px;
  }
  .header_menu_button {
    z-index: 15;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .header_menu_button_img {
    content: "";
    position: absolute;
    width: 2.6rem;
    height: 0.1rem;
    background-color: #FFF;
    transition: all 0.5s ease;
  }
  .header_menu_button_img::after {
    content: "";
    position: absolute;
    width: 2.6rem;
    height: 0.1rem;
    background-color: #FFF;
    top: 1rem;
    transition: all 0.5s ease;
  }
  .header_menu_button_img::before {
    content: "";
    position: absolute;
    width: 2.6rem;
    height: 0.1rem;
    background-color: #FFF;
    bottom: 1rem;
    transition: all 0.5s ease;
  }
  .header_menu_button_img.active {
    z-index: 15;
    content: "";
    position: absolute;
    width: 0rem;
    height: 0rem;
    background-color: #ffffff;
  }
  .header_menu_button_img.active::after {
    content: "";
    position: absolute;
    width: 2.9rem;
    height: 0.1rem;
    transform-origin: bottom left;
    transform: rotate(-45deg);
  }
  .header_menu_button_img.active::before {
    content: "";
    position: absolute;
    width: 2.9rem;
    height: 0.1rem;
    background-color: #ffffff;
    transform-origin: top left;
    transform: rotate(45deg);
  }
}

/* --HEADER----HEADER----HEADER-- */
/* --MAIN----MAIN----MAIN-- */
.main {
  margin-top: -13.4rem;
  flex: 1 1 auto;
  /* --WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME-- */
  /* --WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME-- */
  /* --SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES-- */
  /* --SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES-- */
  /* --SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER-- */
  /* --SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER-- */
  /* --ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT-- */
  /* --ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT-- */
  /* --STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS-- */
  /* --STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS-- */
  /* --FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM-- */
  /* --FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM-- */
}
@media (max-width: 500px) {
  .main {
    margin-top: -10.4rem;
  }
}
.main_welcome {
  width: 100%;
  height: 100vh;
  -webkit-animation: background 30s ease infinite;
          animation: background 30s ease infinite;
}
@-webkit-keyframes background {
  0% {
    background: url("/src/welcome/back01.png") 0 0 no-repeat;
    background-position: center;
    background-size: 100%;
  }
  20% {
    background: url("/src/welcome/back01.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  25% {
    background: url("/src/welcome/back02.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  45% {
    background: url("/src/welcome/back02.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  50% {
    background: url("/src/welcome/back03.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  70% {
    background: url("/src/welcome/back03.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  75% {
    background: url("/src/welcome/back04.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  95% {
    background: url("/src/welcome/back04.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  100% {
    background: url("/src/welcome/back01.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
@keyframes background {
  0% {
    background: url("/src/welcome/back01.png") 0 0 no-repeat;
    background-position: center;
    background-size: 100%;
  }
  20% {
    background: url("/src/welcome/back01.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  25% {
    background: url("/src/welcome/back02.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  45% {
    background: url("/src/welcome/back02.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  50% {
    background: url("/src/welcome/back03.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  70% {
    background: url("/src/welcome/back03.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  75% {
    background: url("/src/welcome/back04.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 150%;
  }
  95% {
    background: url("/src/welcome/back04.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
  100% {
    background: url("/src/welcome/back01.png") 0 0rem no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
.main_welcome_content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_welcome_content_h {
  font-size: 5rem;
  line-height: 134%;
  text-align: center;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  margin-bottom: 5.7rem;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main_welcome_content_h._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main_welcome_content_text {
  font-weight: 400;
  font-size: 3rem;
  line-height: 134%;
  text-align: center;
  margin-bottom: 5.7rem;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.main_welcome_content_text._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main_welcome_content_btn {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 134%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 2.3rem 3.3rem;
  background: rgba(14, 14, 28, 0.71);
  border: 0.1rem solid #FFFFFF;
  border-radius: 3.5rem 0rem;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.8s ease 0.8s, border-radius 0.5s ease;
  cursor: pointer;
}
.main_welcome_content_btn._animated {
  transform: scale(1);
  opacity: 1;
}
.main_welcome_content_btn:hover {
  border-radius: 0rem 3.5rem;
}
.main_welcome_border {
  display: none;
}
@media (max-width: 500px) {
  .main_welcome {
    -webkit-animation: background 30s ease infinite;
            animation: background 30s ease infinite;
  }
  @-webkit-keyframes background {
    0% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    20% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    25% {
      background: url("/src/welcome/back2.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    45% {
      background: url("/src/welcome/back2.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    50% {
      background: url("/src/welcome/back3.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    70% {
      background: url("/src/welcome/back3.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    75% {
      background: url("/src/welcome/back4.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    95% {
      background: url("/src/welcome/back4.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    100% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  @keyframes background {
    0% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    20% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    25% {
      background: url("/src/welcome/back2.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    45% {
      background: url("/src/welcome/back2.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    50% {
      background: url("/src/welcome/back3.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    70% {
      background: url("/src/welcome/back3.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    75% {
      background: url("/src/welcome/back4.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 150%;
    }
    95% {
      background: url("/src/welcome/back4.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
    100% {
      background: url("/src/welcome/back1.png") 0 0rem no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  .main_welcome_content_h {
    font-size: 1.9rem;
    line-height: 134%;
    white-space: nowrap;
    margin-top: 22.8rem;
    margin-bottom: 1.3rem;
  }
  .main_welcome_content_text {
    font-size: 1rem;
    margin-bottom: 5.6rem;
  }
  .main_welcome_content_btn {
    font-size: 0.8rem;
    padding: 1.2rem 1.6rem;
    border-radius: 1.7rem 0rem;
    margin-bottom: 18.6rem;
  }
  .main_welcome_content_btn:hover {
    border-radius: 0rem 1.7rem;
  }
  .main_welcome_border {
    display: flex;
  }
  .main_welcome_border_1 {
    margin-top: -1.8rem;
    height: 1.8rem;
    flex: 0 1 50%;
    border-radius: 0 2rem 0 0;
    background-color: #0E0E1C;
  }
  .main_welcome_border_2 {
    margin-top: -1.8rem;
    height: 1.8rem;
    flex: 0 1 50%;
    border-radius: 2rem 0 0 0;
    background-color: #0E0E1C;
  }
}
.main_services {
  position: relative;
  margin-top: 12.2rem;
  margin-bottom: 15.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.9rem;
}
.main_services_item {
  position: relative;
  width: 33.8rem;
  height: 33.8rem;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.main_services_item:first-child {
  border: 0.1rem solid #FFFFFF;
  border-radius: 0rem 9rem;
  transform: translate(-120%, 0px);
}
.main_services_item:nth-child(2) {
  transform: translate(120%, 0px);
}
.main_services_item:nth-child(3) {
  transform: translate(-120%, 0px);
}
.main_services_item:nth-child(4) {
  transform: translate(120%, 0px);
}
.main_services_item:nth-child(5) {
  transform: translate(-120%, 0px);
}
.main_services_item:nth-child(6) {
  transform: translate(120%, 0px);
}
.main_services_item:nth-child(7) {
  transform: translate(-120%, 0px);
}
.main_services_item:nth-child(8) {
  transform: translate(120%, 0px);
}
.main_services_item._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main_services_item > h2 {
  align-self: center;
  font-weight: 300;
  font-size: 5rem;
  line-height: 134%;
  text-align: center;
}
.main_services_item > a {
  margin-top: auto;
  margin-bottom: 2.9rem;
}
.main_services_item > a > p {
  position: relative;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 134%;
  text-align: center;
  transition: all 0.5s ease-out;
  z-index: 2;
}
.main_services_item > a:hover > p {
  transform: translateY(-11rem);
}
.main_services_item > a > picture > img {
  border: 0.1rem solid #FFFFFF;
  border-radius: 0rem 9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 33.8rem;
  height: 33.8rem;
  z-index: 0;
}
.main_services_item_r {
  position: relative;
  width: 71.5rem;
}
.main_services_item_r > a > picture > img {
  border: 0.1rem solid #FFFFFF;
  border-radius: 9rem 0rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 71.5rem;
  height: 33.8rem;
  z-index: 0;
}
.main_services_square_1 {
  position: absolute;
  width: 9.122rem;
  height: 9.122rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0px 3rem;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  top: 31.3rem;
  left: -15rem;
}
.main_services_square_1:hover {
  transform: rotate(-225deg);
}
.main_services_square_2 {
  position: absolute;
  width: 9.122rem;
  height: 9.122rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0px 3rem;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  bottom: 31.3rem;
  right: -15rem;
}
.main_services_square_2:hover {
  transform: rotate(-225deg);
}
.main_services_square_3 {
  position: absolute;
  width: 9.122rem;
  height: 9.122rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 3rem 0rem;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  bottom: -11rem;
  right: 31.2rem;
}
.main_services_square_3:hover {
  transform: rotate(-225deg);
}
@media (max-width: 500px) {
  .main_services {
    margin-top: 2.4rem;
    margin-bottom: 4.5rem;
    gap: 1rem;
    justify-content: center;
  }
  .main_services_item {
    width: 12.6rem;
    height: 12.6rem;
  }
  .main_services_item:first-child {
    border: 0.1rem solid #FFFFFF;
    border-radius: 0rem 2rem;
  }
  .main_services_item > h2 {
    font-weight: 700;
    font-size: 1.6rem;
  }
  .main_services_item > a {
    margin-top: auto;
    margin-bottom: 1.7rem;
  }
  .main_services_item > a > p {
    font-size: 1rem;
  }
  .main_services_item > a:hover > p {
    transform: translateY(-3.5rem);
  }
  .main_services_item > a > picture > img {
    border: 0.1rem solid #FFFFFF;
    border-radius: 0rem 2rem;
    width: 12.6rem;
    height: 12.6rem;
  }
  .main_services_item_r {
    width: 12.6rem;
  }
  .main_services_item_r > a > picture > img {
    border-radius: 2rem 0rem;
    width: 12.6rem;
    height: 12.6rem;
  }
  .main_services_square_1 {
    display: none;
  }
  .main_services_square_2 {
    display: none;
  }
  .main_services_square_3 {
    display: none;
  }
}
.main .slider {
  position: relative;
  margin-top: 15.8rem;
  margin-bottom: 15.2rem;
}
.main .slider_header {
  position: relative;
  display: flex;
  align-items: center;
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main .slider_header._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main .slider_header > span {
  border: 1px solid #FFFFFF;
  height: 0.1rem;
  width: 49.6rem;
}
.main .slider_header > span:last-child {
  display: none;
}
.main .slider_header > p {
  margin-left: 5.8rem;
  font-weight: 300;
  font-size: 5rem;
  line-height: 134%;
}
.main .slider_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .slider_slider {
  min-width: 0;
  /* Обезательно для слайдера в flex */
  width: 241.8rem;
  height: 54.5rem;
  position: relative;
  margin-top: 8.9rem;
  margin-bottom: 6.2rem;
  /* Лента слайдов */
  /* Слайд активный (показывается) */
}
.main .slider_slider .slick-track {
  display: flex;
}
.main .slider_slider .slick-slide {
  position: relative;
  margin: 0rem 2.4rem;
  width: 77.4rem;
  height: 54.5rem;
}
.main .slider_slider .slick-slide > picture {
  position: relative;
  width: 100%;
  height: 54.5rem;
}
.main .slider_slider .slick-slide > picture span {
  position: absolute;
  width: 77.4rem;
  height: 54.5rem;
  background: linear-gradient(0deg, rgba(14, 14, 28, 0.81), rgba(14, 14, 28, 0.81));
}
.main .slider_slider .slick-slide > picture img {
  width: 77.4rem;
  height: 54.5rem;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.6);
}
.main .slider_slider > ul {
  display: flex;
  position: absolute;
  width: 8rem;
  top: 49rem;
  left: 46%;
}
.main .slider_slider > ul > li {
  list-style: disc;
  margin: 0rem 1rem;
  font-size: 3rem;
}
.main .slider_slider > ul > li::marker {
  color: rgba(88, 88, 88, 0.7);
}
.main .slider_slider > ul > li > button {
  display: none;
}
.main .slider_slider > ul .slick-active::marker {
  color: rgb(255, 255, 255);
}
.main .slider_slider .slick-slide.slick-active {
  width: 77.4rem;
  height: 54.5rem;
}
.main .slider_slider .slick-slide.slick-active > picture span {
  border: 0.4rem solid #fff;
  width: 77.4rem;
  height: 54.5rem;
  background: none;
}
.main .slider_slider .slick-slide.slick-active > picture img {
  width: 100%;
}
.main .slider_arrows {
  display: flex;
  align-items: center;
  padding: 0rem 6.3rem;
}
.main .slider_arrows .slider_text {
  min-width: 0;
  /* Обезательно для слайдера в flex */
  width: 71.1rem;
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
}
.main .slider_arrows .slider_text .slick-list {
  overflow: hidden;
}
.main .slider_arrows .slider_text .slick-track {
  display: flex;
  align-items: center;
  width: 71.1rem;
}
.main .slider_arrows .slider_text .text-box {
  width: 81.1rem;
  position: relative;
  padding: 0rem 3.3rem;
}
.main .slider_arrows .slider_text .text-box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .slider_arrows .slider_text .text-box-content p {
  font-weight: 400;
  font-size: 3rem;
  line-height: 134%;
  text-align: center;
  text-transform: uppercase;
}
.main .slider_arrows svg {
  width: 7.6rem;
  height: 4.1rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .main .slider {
    position: relative;
    margin-top: 4.5rem;
    margin-bottom: 6rem;
  }
  .main .slider_header > span {
    border: 1px solid #FFFFFF;
    height: 0.1rem;
    width: 8.2rem;
  }
  .main .slider_header > span:last-child {
    display: block;
  }
  .main .slider_header > p {
    white-space: nowrap;
    margin-left: 2.3rem;
    margin-right: 2.2rem;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .main .slider_slider {
    min-width: 0;
    /* Обезательно для слайдера в flex */
    width: 171.6rem;
    height: 16.4rem;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* Лента слайдов */
    /* Слайд активный (показывается) */
  }
  .main .slider_slider .slick-track {
    display: flex;
  }
  .main .slider_slider .slick-slide {
    position: relative;
    margin: 0rem 2.4rem;
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_slider .slick-slide > picture {
    position: relative;
    width: 100%;
    height: 16.4rem;
  }
  .main .slider_slider .slick-slide > picture span {
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_slider .slick-slide > picture img {
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_slider > ul {
    display: none;
  }
  .main .slider_slider .slick-slide.slick-active {
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_slider .slick-slide.slick-active > picture span {
    border: 0.2rem solid #fff;
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_slider .slick-slide.slick-active > picture img {
    width: 26.2rem;
    height: 16.4rem;
  }
  .main .slider_arrows {
    justify-content: space-around;
    padding: 0rem 1.3rem;
  }
  .main .slider_arrows .slider_text {
    /* Обезательно для слайдера в flex */
    width: 18.1rem;
    /* Ограничивающая оболочка */
    /* Лента слайдов */
  }
  .main .slider_arrows .slider_text .slick-list {
    overflow: hidden;
  }
  .main .slider_arrows .slider_text .slick-track {
    width: 18.1rem;
  }
  .main .slider_arrows .slider_text .text-box {
    width: 18.1rem;
    position: relative;
    padding: 0rem 0.8rem;
  }
  .main .slider_arrows .slider_text .text-box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main .slider_arrows .slider_text .text-box-content p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 134%;
    text-align: center;
    text-transform: uppercase;
  }
  .main .slider_arrows svg {
    width: 3rem;
    height: 1.4rem;
    cursor: pointer;
  }
}
.main .about {
  position: relative;
}
.main .about_content {
  display: flex;
  flex-direction: column;
}
.main .about_content > p {
  width: 64.1rem;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 134%;
  margin-bottom: 2.8rem;
  overflow: hidden;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main .about_content > p:last-child {
  transition: all 0.8s ease 0.4s;
}
.main .about_content > p._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main .about_content > picture {
  z-index: 2;
  align-self: flex-end;
  overflow: hidden;
  transform: translate(100%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.main .about_content > picture._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main .about_content > picture img {
  width: 63.5rem;
}
.main .about > picture {
  z-index: -1;
  position: fixed;
  top: 30rem;
  left: 0;
  transform: rotate(25deg);
}
.main .about > picture img {
  width: 95.477rem;
  height: 91.24rem;
}
@media (max-width: 500px) {
  .main .about_content > p {
    width: 25.9rem;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
  }
  .main .about_content > picture {
    z-index: 2;
    align-self: center;
  }
  .main .about_content > picture img {
    border: 0.1rem solid #fff;
    width: 22rem;
  }
  .main .about > picture img {
    width: 33.8rem;
    height: 32.3rem;
  }
}
.main .steps {
  position: relative;
  margin-top: 23.3rem;
  margin-bottom: 23.3rem;
  background: url("/src/steps/back.png") 0rem -65rem no-repeat;
  background-size: cover;
  padding: 9.4rem 0rem 15.3rem 0rem;
}
.main .steps_header {
  position: relative;
  display: flex;
  align-items: center;
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main .steps_header._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main .steps_header > span {
  border: 1px solid #FFFFFF;
  height: 0.1rem;
  width: 49.6rem;
}
.main .steps_header > span:last-child {
  display: none;
}
.main .steps_header > p {
  margin-left: 5.8rem;
  font-weight: 300;
  font-size: 5rem;
  line-height: 134%;
}
.main .steps_content {
  display: flex;
  margin-top: 12rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .steps_content .steps_item {
  display: flex;
  align-items: center;
  flex: 0 1 47%;
}
.main .steps_content .steps_item:nth-child(1) {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
  margin-bottom: 20.3rem;
}
.main .steps_content .steps_item:nth-child(2) {
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
  margin-bottom: 20.3rem;
}
.main .steps_content .steps_item:nth-child(3) {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.main .steps_content .steps_item:nth-child(4) {
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}
.main .steps_content .steps_item._animated {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main .steps_content .steps_item .steps_number {
  width: 15.2rem;
  height: 15.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
  padding: 2.3rem 3.3rem;
  font-weight: 700;
  font-size: 8rem;
  line-height: 134%;
  border: 0.1rem solid #FFFFFF;
  border-radius: 4rem 0rem;
}
.main .steps_content .steps_item .item_text {
  position: relative;
}
.main .steps_content .steps_item .item_text > h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 134%;
  margin-bottom: 1.2rem;
}
.main .steps_content .steps_item .item_text > p {
  font-size: 2rem;
  line-height: 134%;
}
@media (max-width: 500px) {
  .main .steps {
    margin-top: 4.1rem;
    margin-bottom: 5.2rem;
    background: url("/src/steps/back.png") 0rem 0rem no-repeat;
    background-size: cover;
    padding: 4.3rem 0rem 3.298rem 0rem;
  }
  .main .steps_header > span {
    border: 1px solid #FFFFFF;
    height: 0.1rem;
    width: 8.2rem;
  }
  .main .steps_header > span:last-child {
    display: block;
  }
  .main .steps_header > p {
    white-space: nowrap;
    margin-left: 1.9rem;
    margin-right: 1.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .main .steps_content {
    display: flex;
    margin-top: 2.7rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main .steps_content .steps_item {
    display: flex;
    align-items: center;
    flex: 0 1 100%;
    margin-bottom: 3rem;
  }
  .main .steps_content .steps_item .steps_number {
    width: 6.5rem;
    height: 6.602rem;
    margin-right: 1.2rem;
    padding: 0.8rem 1.4rem 1.1rem 1.4rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 134%;
    border: 0.1rem solid #FFFFFF;
    border-radius: 2rem 0rem;
  }
  .main .steps_content .steps_item:nth-child(1) {
    margin-bottom: 3rem;
  }
  .main .steps_content .steps_item:nth-child(2) {
    margin-bottom: 3rem;
    flex-direction: row-reverse;
  }
  .main .steps_content .steps_item:nth-child(2) .steps_number {
    margin-right: 0rem;
    margin-left: 1.2rem;
    border-radius: 0rem 2rem;
  }
  .main .steps_content .steps_item:nth-child(4) {
    margin-bottom: 3rem;
    flex-direction: row-reverse;
  }
  .main .steps_content .steps_item:nth-child(4) .steps_number {
    margin-right: 0rem;
    margin-left: 1.2rem;
    border-radius: 0rem 2rem;
  }
  .main .steps_content .steps_item .item_text > h3 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
  .main .steps_content .steps_item .item_text > p {
    font-size: 1rem;
  }
}
.main .form {
  position: relative;
  margin-bottom: 17.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .form_content > h2 {
  font-size: 3rem;
  line-height: 134%;
  text-align: center;
  margin-bottom: 1.8rem;
}
.main .form_content > p {
  font-size: 2rem;
  line-height: 134%;
  text-align: center;
  margin-bottom: 5.9rem;
}
.main .form #form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66.6rem;
}
.main .form #form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.9rem;
}
.main .form #form > div > input {
  width: 31.2rem;
  outline: none;
  background: rgba(255, 255, 255, 0.23);
  border: 0.1rem solid #FFFFFF;
  padding: 1.7rem 0rem 1.7rem 3.6rem;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > div > input.error {
  border: 0.1rem solid #ff6246;
}
.main .form #form > div > input:first-child {
  border-radius: 2rem 0px 0px 0px;
}
.main .form #form > div > input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > div > input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > div > input::placeholder {
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > div > input:focus {
  border: 0.1rem solid #e3ff46;
}
.main .form #form .select {
  display: flex;
  position: relative;
}
.main .form #form .select .dropdown_button {
  width: 100%;
  background: rgba(255, 255, 255, 0.23);
  border: 0.1rem solid #FFFFFF;
  padding: 1.7rem 3.6rem;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
  text-align: start;
  cursor: pointer;
}
.main .form #form .select .dropdown_button::after {
  content: " ";
  width: 0;
  height: 0;
  border-width: 1.04rem 0.6rem 0rem 0.6rem;
  border-color: rgba(255, 255, 255, 0.63) transparent transparent transparent;
  border-style: solid;
  position: absolute;
  right: 3.6rem;
  top: 2.5rem;
}
.main .form #form .select .dropdown_button:focus {
  border: 0.1rem solid #e3ff46;
}
.main .form #form .select #dropdown-input {
  display: none;
}
.main .form #form .select #dropdown-input.error ~ .dropdown_button {
  border: 0.1rem solid #ff6246;
}
.main .form #form .select .dropdown_list {
  position: absolute;
  width: 100%;
  top: 8.5rem;
  z-index: 5;
  display: none;
}
.main .form #form .select .dropdown_list.active {
  display: block;
}
.main .form #form .select .dropdown_list .dropdown_item {
  width: 100%;
  background-color: #0E0E1C;
  border: 0.1rem solid #FFFFFF;
  padding: 1.7rem 3.6rem;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
  text-align: start;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(1) {
  background-image: url("../src/services/1.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(2) {
  background-image: url("../src/services/2.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(3) {
  background-image: url("../src/services/3.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(4) {
  background-image: url("../src/services/4.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(5) {
  background-image: url("../src/services/5.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(6) {
  background-image: url("../src/services/6.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(7) {
  background-image: url("../src/services/7.png");
}
.main .form #form .select .dropdown_list .dropdown_item:hover:nth-child(8) {
  background: rgb(0, 0, 0);
}
.main .form #form > textarea {
  width: 100%;
  height: 13.7rem;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 0px 0px 2rem 0px;
  border: 0.1rem solid #FFFFFF;
  padding: 1.7rem 3.6rem;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
  margin-bottom: 2.9rem;
  outline: none;
  resize: vertical;
}
.main .form #form > textarea.error {
  border: 0.1rem solid #ff6246;
}
.main .form #form > textarea:focus {
  border: 0.1rem solid #e3ff46;
}
.main .form #form > textarea::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > textarea:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form > textarea::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 134%;
  color: rgba(255, 255, 255, 0.63);
}
.main .form #form .form_button {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 134%;
  text-align: center;
  color: #0E0E1C;
  padding: 1.6rem 6.6rem;
  background: #FFFFFF;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0rem 2rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .main .form {
    margin-bottom: 4.8rem;
  }
  .main .form_content > h2 {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }
  .main .form_content > p {
    font-size: 1rem;
    margin-bottom: 2.2rem;
  }
  .main .form #form {
    width: 26.2rem;
  }
  .main .form #form > div {
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
  .main .form #form > div > input {
    width: 100%;
    padding: 1.6rem 0rem 1.6rem 2rem;
    font-size: 0.9rem;
  }
  .main .form #form > div > input:first-child {
    border-radius: 2rem 0px 0px 0px;
    margin-bottom: 1.2rem;
  }
  .main .form #form .select .dropdown_button {
    padding: 1.6rem 2rem;
    font-size: 0.9rem;
  }
  .main .form #form .select .dropdown_button::after {
    border-width: 0.64rem 0.4rem 0rem 0.4rem;
    right: 2.2rem;
    top: 2rem;
  }
  .main .form #form .select .dropdown_list {
    top: 5.8rem;
  }
  .main .form #form .select .dropdown_list .dropdown_item {
    padding: 1.6rem 2rem;
    font-size: 0.9rem;
  }
  .main .form #form > textarea {
    height: 7.8rem;
    padding: 1.6rem 2rem;
    font-size: 0.9rem;
    margin-bottom: 1.7rem;
  }
  .main .form #form > textarea::-moz-placeholder {
    font-size: 0.9rem;
  }
  .main .form #form > textarea:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .main .form #form > textarea::placeholder {
    font-size: 0.9rem;
  }
  .main .form #form .form_button {
    font-size: 1rem;
    line-height: 134%;
    padding: 1.5rem 5.1rem;
  }
}

/* --MAIN----MAIN----MAIN-- */
/* --FOOTER----FOOTER----FOOTER-- */
.footer {
  background-color: #fff;
  position: relative;
  padding: 2.8rem 0rem 6.539rem 0rem;
}
.footer_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_header > span {
  width: 61.6rem;
  height: 0.1rem;
  background-color: #0E0E1C;
}
.footer_header > span:first-child {
  display: none;
}
.footer_header > p {
  font-size: 4rem;
  margin-right: 15rem;
  line-height: 134%;
  color: #0E0E1C;
}
.footer_content {
  position: relative;
  padding: 0rem 7.9rem 0rem 6.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer_content .footer_item {
  flex: 0 1 33%;
}
.footer_content .footer_item > h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 134%;
  color: #0E0E1C;
  margin-bottom: 1.7rem;
}
.footer_content .footer_item > a,
.footer_content .footer_item p {
  font-size: 1.5rem;
  line-height: 134%;
  color: #0E0E1C;
}
.footer_content .footer_item .footer_map {
  display: flex;
}
.footer_content .footer_item .footer_map a {
  font-size: 1.5rem;
  line-height: 134%;
  color: #0E0E1C;
}
.footer_content .footer_item .footer_map > img {
  margin-left: 1rem;
  width: 1.3rem;
  height: 2rem;
}
.footer_content .footer_item .footer_phone {
  display: flex;
  justify-content: space-between;
}
.footer_content .footer_item .footer_phone > a {
  font-size: 1.5rem;
  line-height: 134%;
  color: #0E0E1C;
}
.footer_content .footer_item:first-child {
  flex: 0 1 100%;
  margin-bottom: 3.6rem;
}
.footer_content .footer_item:nth-child(2) {
  flex: 0 1 35%;
}
.footer_content .footer_item:nth-child(3) {
  flex: 0 1 35%;
  margin-left: 7rem;
}
.footer_content .footer_item:last-child {
  flex: 0 1 20%;
  display: flex;
  align-items: center;
}
.footer_content .footer_item > img {
  width: 9.375rem;
  height: 9.161rem;
  margin-right: 1rem;
}
.footer_content .footer_item .logo_text {
  font-size: 1.5rem;
  line-height: 134%;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  color: #0E0E1C;
}

@media (max-width: 500px) {
  .footer {
    padding: 2.1rem 0rem 1.6rem 0rem;
  }
  .footer_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer_header > span {
    width: 61.6rem;
    height: 0.1rem;
  }
  .footer_header > span:first-child {
    display: block;
  }
  .footer_header > p {
    font-size: 1.6rem;
    margin-right: 3.7rem;
    margin-left: 3.7rem;
  }
  .footer_content {
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .footer_content .footer_item {
    flex: 0 1 100%;
  }
  .footer_content .footer_item > h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .footer_content .footer_item > a,
.footer_content .footer_item p {
    font-size: 1.2rem;
  }
  .footer_content .footer_item .footer_map {
    display: flex;
  }
  .footer_content .footer_item .footer_map a {
    font-size: 1.2rem;
  }
  .footer_content .footer_item .footer_map > img {
    margin-left: 1rem;
    width: 1.3rem;
    height: 2rem;
  }
  .footer_content .footer_item .footer_phone {
    display: flex;
    justify-content: space-between;
  }
  .footer_content .footer_item .footer_phone > a {
    font-size: 1.2rem;
    line-height: 134%;
    color: #0E0E1C;
  }
  .footer_content .footer_item:first-child {
    flex: 0 1 100%;
    margin-bottom: 1.6rem;
  }
  .footer_content .footer_item:nth-child(2) {
    flex: 0 1 100%;
    margin-bottom: 1.6rem;
  }
  .footer_content .footer_item:nth-child(3) {
    flex: 0 1 100%;
    margin-left: 0rem;
    margin-bottom: 1.6rem;
  }
  .footer_content .footer_item:last-child {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_content .footer_item > img {
    width: 6.9rem;
    height: 6.8rem;
    margin-right: 0rem;
  }
  .footer_content .footer_item .logo_text {
    display: none;
  }
}
/* --FOOTER----FOOTER----FOOTER-- *//*# sourceMappingURL=styles.css.map */