/* Обнуление */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #0E0E1C;
    height: 100%;
    color: #FFF;
    &.active{
        overflow: hidden;
    }
}
html {
    font-size: 0.579vw;
    /* 10px on 1728px */
}

@media screen and (min-width: 1728px) {
    html {
        font-size: 10px;
        /* 10px on 1728px and > 1728px*/
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 3.125vw;
        /* 10px on 320px */
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/*--CONTAINER----CONTAINER----CONTAINER--*/

._container {
    max-width: 109.2rem;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    ._container {
        max-width: 26.2rem;
    }
}


/*--CONTAINER----CONTAINER----CONTAINER--*/


/* --HEADER----HEADER----HEADER-- */

.header {
    display: flex;
    justify-content: center;
    position: relative;
    &_container {
        width: 141rem;
        display: flex;
        padding: 2.8rem 0rem
    }
    &_box {
        position: relative;
        &_logo {
            width: 8.2rem;
            height: 8rem;
        }
    }
    &_menu {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 3rem;
        z-index: 11;
        &_list {
            z-index: 12;
            position: relative;
            height: 4.4rem;
            display: flex;
            align-items: center;
            margin-left: auto;
            &_hide {
                visibility: hidden;
                height: 1px;
                overflow: hidden;
                position: absolute;
                top: 4.4rem;
                right: 9.8rem;
                background: rgba(217, 217, 217, 0.1);
                padding: 1.5rem;
                >li:not(:last-child) {
                    margin-bottom: 1rem;
                }
                &_link {
                    color: #FFFFFF;
                    font-size: 1.5rem;
                }
                &.active {
                    visibility: visible;
                    animation: slide 1s ease forwards;
                }
            }
            @keyframes slide {
                from {
                    height: 2rem;
                }
                to {
                    height: 22rem;
                }
            }
        }
        &_item {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 134%;
            text-align: center;
            color: #FFFFFF;
            z-index: 13;
            position: relative;
            cursor: pointer;
            margin-right: 7rem;
            &_box {
                display: none;
            }
            &:nth-child(5) {
                margin-right: 0rem;
            }
            >li>svg {
                width: 1.2rem;
                height: 0.6rem;
            }
        }
        &_button {
            z-index: 15;
            margin-right: 2rem;
            display: none;
        }
    }
    @media (max-width: 500px) {
        &_box {
            position: relative;
            &_logo {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
        &_menu {
            &_list {
                background-color: #000000be;
                position: absolute;
                overflow: scroll;
                top: -3.5rem;
                height: 102vh;
                left: 110%;
                padding: 11rem 3rem 5rem 3rem;
                width: 104%;
                flex-direction: column;
                align-items: baseline;
                justify-content: flex-start;
                transition: all 0.5s ease;
                &.active {
                    left: -1rem;
                    backdrop-filter: blur(2px);
                }
                &_hide {
                    visibility: hidden;
                    height: 1px;
                    overflow: hidden;
                    position: static;
                    background: none;
                    padding: 0rem;
                    >li:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                    &_link {
                        color: #FFFFFF;
                    }
                    &.active {
                        margin-top: -2rem;
                        margin-bottom: 2rem;
                        visibility: visible;
                        animation: slide 1s ease forwards;
                    }
                }
                @keyframes slide {
                    from {
                        min-height: 2rem;
                    }
                    to {
                        min-height: 23rem;
                    }
                }
            }
            &_item {
                font-weight: 500;
                font-size: 2rem;
                line-height: 106%;
                text-transform: uppercase;
                margin-right: 0px;
                margin-bottom: 4rem;
                color: #ffffff;
                &:hover {
                    border: none;
                    &::before {
                        content: none;
                    }
                }
                &_box {
                    width: 100%;
                    display: flex;
                    margin-top: auto;
                    &_logo {
                        margin-top: auto;
                        display: flex;
                        flex-direction: column;
                        &>p {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 181%;
                            color: #ffffff;
                            margin-top: 0.5rem;
                        }
                    }
                    &_social {
                        display: flex;
                        flex-direction: column;
                        margin-left: auto;
                        &>a {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
            &_item:not(:last-child) {
                margin-right: 0px;
            }
            &_item:nth-child(2) {
                margin-right: 0px;
            }
            &_button {
                z-index: 15;
                margin-left: auto;
                display: flex;
                align-items: center;
                cursor: pointer;
                &_img {
                    content: "";
                    position: absolute;
                    width: 2.6rem;
                    height: 0.1rem;
                    background-color: #FFF;
                    transition: all 0.5s ease;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2.6rem;
                        height: 0.1rem;
                        background-color: #FFF;
                        top: 1rem;
                        transition: all 0.5s ease;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2.6rem;
                        height: 0.1rem;
                        background-color: #FFF;
                        bottom: 1rem;
                        transition: all 0.5s ease;
                    }
                }
                &_img.active {
                    z-index: 15;
                    content: "";
                    position: absolute;
                    width: 0rem;
                    height: 0rem;
                    background-color: #ffffff;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2.9rem;
                        height: 0.1rem;
                        transform-origin: bottom left;
                        transform: rotate(-45deg);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2.9rem;
                        height: 0.1rem;
                        background-color: #ffffff;
                        transform-origin: top left;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}


/* --HEADER----HEADER----HEADER-- */


/* --MAIN----MAIN----MAIN-- */

.main {
    margin-top: -13.4rem;
    flex: 1 1 auto;
    @media (max-width: 500px) {
        margin-top: -10.4rem;
    }
    /* --WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME-- */
    &_welcome {
        width: 100%;
        height: 100vh;
        &_bac {
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-position: 0rem -80rem;
                object-fit: cover;
            }
            > picture {
                width: 100%;
                &._1{
                    position: absolute;
                    opacity: 0;
                    transition: all 1s linear;
                    &.open{
                        opacity: 1;
                        img {
                            animation: scale 5s linear;
                        }
                    }
                }
                &._2{
                    position: absolute;
                    opacity: 0;
                    transition: all 1s linear;
                    &.open{
                        opacity: 1;
                        img {
                            animation: rescale 5s linear;
                        }
                    }
                }
                &._3{
                    position: absolute;
                    opacity: 0;
                    transition: all 1s linear;
                    &.open{
                        opacity: 1;
                        img {
                            animation: scale 5s linear;
                        }
                    }
                }
                &._4{
                    position: absolute;
                    opacity: 0;
                    transition: all 1s linear;
                    &.open{
                        opacity: 1;
                        img {
                            animation: rescale 5s linear;
                        }
                    }
                }
            }
            .main_welcome_back_1{
                width: 100%;
                position: absolute;
                opacity: 1;
                
            }
        }
        @keyframes scale {
            0%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.5);
            }
        }
        @keyframes rescale {
            0%{
                transform: scale(1.5);
            }
            100%{
                transform: scale(1);
            }
        }
        &_content {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_h {
                font-size: 5rem;
                line-height: 134%;
                text-align: center;
                letter-spacing: 0.27em;
                text-transform: uppercase;
                margin-bottom: 5.7rem;
                transform: translate(0px, 120%);
                opacity: 0;
                transition: all 0.8s ease 0s;
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            }
            &_text {
                font-weight: 400;
                font-size: 3rem;
                line-height: 134%;
                text-align: center;
                margin-bottom: 5.7rem;
                transform: translate(0px, 120%);
                opacity: 0;
                transition: all 0.8s ease 0.4s;
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            }
            &_btn {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 134%;

                text-align: center;
                text-transform: uppercase;

                color: #FFFFFF;
                padding: 2.3rem 3.3rem;
                background: rgba(14, 14, 28, 0.71);

                border: 0.1rem solid #FFFFFF;
                border-radius: 3.5rem 0rem;

                transform: scale(0);
                opacity: 0;
                transition: transform 0.8s ease 0.8s, border-radius 0.5s ease;
                cursor: pointer;
                &._animated {
                    transform: scale(1);
                    opacity: 1;
                }
                &:hover {
                    border-radius: 0rem 3.5rem;
                }
            }
        }
        &_border {
            display: none;
        }
    }
    @media (max-width: 500px) {
        &_welcome {
            &_bac {
                img {
                    width: 200%;
                    object-position: -10rem -10rem;
                }
            }
            &_content {
                &_h {
                    font-size: 1.9rem;
                    line-height: 134%;
                    white-space: nowrap;
                    margin-top: 22.8rem;
                    margin-bottom: 1.3rem;
                }
                &_text {
                    font-size: 1rem;
                    margin-bottom: 5.6rem;
                }
                &_btn {
                    font-size: 0.8rem;
                    padding: 1.2rem 1.6rem;
                    border-radius: 1.7rem 0rem;
                    margin-bottom: 18.6rem;
                    &:hover {
                        border-radius: 0rem 1.7rem;
                    }
                }
            }
            &_border {
                display: flex;
                position: relative;
                z-index: 2;
                &_1 {
                    margin-top: -1.7rem;
                    height: 1.8rem;
                    flex: 0 1 50%;
                    border-radius: 0 2rem 0 0;
                    background-color: #0E0E1C;
                }
                &_2 {
                    margin-top: -1.7rem;
                    height: 1.8rem;
                    flex: 0 1 50%;
                    border-radius: 2rem 0 0 0;
                    background-color: #0E0E1C;
                }
            }
        }
    }
    /* --WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME----WELCOME-- */

    /* --SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES-- */
    &_services {
        position: relative;
        margin-top: 12.2rem;
        margin-bottom: 15.8rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.9rem;
        &_item {
            position: relative;
            width: 33.8rem;
            height: 33.8rem;
            display: flex;
            justify-content: center;

            opacity: 0;
            transition: all 0.8s ease 0.4s;
            &:first-child {
                border: 0.1rem solid #FFFFFF;
                border-radius: 0rem 9rem;
                transform: translate(-120%, 0px);
            }
            &:nth-child(2){
                transform: translate(120%, 0px);
            }
            &:nth-child(3){
                transform: translate(-120%, 0px);
            }
            &:nth-child(4){
                transform: translate(120%, 0px);
            }
            &:nth-child(5){
                transform: translate(-120%, 0px);
            }
            &:nth-child(6){
                transform: translate(120%, 0px);
            }
            &:nth-child(7){
                transform: translate(-120%, 0px);
            }
            &:nth-child(8){
                transform: translate(120%, 0px);
            }
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            &>h2 {
                align-self: center;
                font-weight: 300;
                font-size: 5rem;
                line-height: 134%;
                text-align: center;
            }
            &>a {
                margin-top: auto;
                margin-bottom: 2.9rem;
                &>p {
                    position: relative;
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 2.5rem;
                    line-height: 134%;
                    text-align: center;
                    transition: all 0.5s ease-out;
                    z-index: 2;
                }
                &:hover>p {
                    transform: translateY(-11rem);
                }
            }
            &>a>picture>img {
                border: 0.1rem solid #FFFFFF;
                border-radius: 0rem 9rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 33.8rem;
                height: 33.8rem;
                z-index: 0;
            }
            &_r {
                position: relative;
                width: 71.5rem;
                &>a>picture>img {
                    border: 0.1rem solid #FFFFFF;
                    border-radius: 9rem 0rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 71.5rem;
                    height: 33.8rem;
                    z-index: 0;
                }
            }
        }
        &_square {
            &_1 {
                position: absolute;
                width: 9.122rem;
                height: 9.122rem;
                border: 0.1rem solid #FFFFFF;
                border-radius: 0px 3rem;
                transform: rotate(-45deg);
                transition: all 0.5s ease;
                top: 31.3rem;
                left: -15rem;
                &:hover {
                    transform: rotate(-225deg);
                }
            }
            &_2 {
                position: absolute;
                width: 9.122rem;
                height: 9.122rem;
                border: 0.1rem solid #FFFFFF;
                border-radius: 0px 3rem;
                transform: rotate(-45deg);
                transition: all 0.5s ease;
                bottom: 31.3rem;
                right: -15rem;
                &:hover {
                    transform: rotate(-225deg);
                }
            }
            &_3 {
                position: absolute;
                width: 9.122rem;
                height: 9.122rem;
                border: 0.1rem solid #FFFFFF;
                border-radius: 3rem 0rem;
                transform: rotate(-45deg);
                transition: all 0.5s ease;
                bottom: -11rem;
                right: 31.2rem;
                &:hover {
                    transform: rotate(-225deg);
                }
            }
        }
    }
    @media (max-width: 500px) {
        &_services {
            margin-top: 2.4rem;
            margin-bottom: 4.5rem;
            gap: 1rem;
            justify-content: center;
            &_item {
                width: 12.6rem;
                height: 12.6rem;
                &:first-child {
                    border: 0.1rem solid #FFFFFF;
                    border-radius: 0rem 2rem;
                }
                &>h2 {
                    font-weight: 700;
                    font-size: 1.6rem;
                }
                &>a {
                    margin-top: auto;
                    margin-bottom: 1.7rem;
                    &>p {
                        font-size: 1rem;
                    }
                    &:hover>p {
                        transform: translateY(-3.5rem);
                    }
                }
                &>a>picture>img {
                    border: 0.1rem solid #FFFFFF;
                    border-radius: 0rem 2rem;
                    width: 12.6rem;
                    height: 12.6rem;
                }
                &_r {
                    width: 12.6rem;
                    &>a>picture>img {
                        border-radius: 2rem 0rem;
                        width: 12.6rem;
                        height: 12.6rem;
                    }
                }
            }
            &_square {
                &_1 {
                    display: none;
                }
                &_2 {
                    display: none;
                }
                &_3 {
                    display: none;
                }
            }
        }
    }
    /* --SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES----SERVICES-- */

    /* --SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER-- */
    .slider {
        position: relative;
        margin-top: 15.8rem;
        margin-bottom: 15.2rem;
        &_header {
            position: relative;
            display: flex;
            align-items: center;

            transform: translate(-120%, 0px);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._animated {
                transform: translate(0px, 0px);
                opacity: 1;
            }
            >span {
                border: 1px solid #FFFFFF;
                height: 0.1rem;
                width: 49.6rem;
                &:last-child {
                    display: none;
                }
            }
            >p {
                margin-left: 5.8rem;
                font-weight: 300;
                font-size: 5rem;
                line-height: 134%;
            }
        }
        &_box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_slider {
            min-width: 0;
            /* Обезательно для слайдера в flex */
            width: 241.8rem;
            height: 54.5rem;
            position: relative;
            margin-top: 8.9rem;
            margin-bottom: 6.2rem;
            /* Лента слайдов */
            & .slick-track {
                display: flex;
            }
            & .slick-slide {
                position: relative;
                margin: 0rem 2.4rem;
                width: 77.4rem;
                height: 54.5rem;
                >picture {
                    position: relative;
                    width: 100%;
                    height: 54.5rem;
                    span {
                        position: absolute;
                        width: 77.4rem;
                        height: 54.5rem;
                        background: linear-gradient(0deg, rgba(14, 14, 28, 0.81), rgba(14, 14, 28, 0.81));
                    }
                    img {
                        width: 77.4rem;
                        height: 54.5rem;
                        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.6);
                    }
                }
            }
            >ul {
                display: flex;
                position: absolute;
                width: 8rem;
                top: 49rem;
                justify-content: center;
                left: 50%;
                >li {
                    list-style: disc;
                    margin: 0rem 1rem;
                    font-size: 3rem;
                    &::marker {
                        color: rgba(88, 88, 88, 0.7);
                    }
                    >button {
                        display: none;
                    }
                }
                .slick-active {
                    &::marker {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
            /* Слайд активный (показывается) */
            & .slick-slide.slick-active {
                width: 77.4rem;
                height: 54.5rem;
                >picture {
                    span {
                        border: 0.4rem solid #fff;
                        width: 77.4rem;
                        height: 54.5rem;
                        background: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        &_arrows {
            display: flex;
            align-items: center;
            padding: 0rem 6.3rem;
            .slider_text {
                min-width: 0;
                /* Обезательно для слайдера в flex */
                width: 71.1rem;
                position: relative;
                /* Ограничивающая оболочка */
                & .slick-list {
                    overflow: hidden;
                }
                /* Лента слайдов */
                & .slick-track {
                    display: flex;
                    align-items: center;
                    width: 71.1rem;
                }
                .text-box {
                    width: 81.1rem;
                    position: relative;
                    padding: 0rem 3.3rem;
                    &-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            font-weight: 400;
                            font-size: 3rem;
                            line-height: 134%;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        &._page{
                            p{
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
            svg {
                width: 7.6rem;
                height: 4.1rem;
                cursor: pointer;
            }
        }
    }
    @media (max-width: 500px) {
        .slider {
            position: relative;
            margin-top: 4.5rem;
            margin-bottom: 6rem;
            &_header {
                >span {
                    border: 1px solid #FFFFFF;
                    height: 0.1rem;
                    width: 8.2rem;
                    &:last-child {
                        display: block;
                    }
                }
                >p {
                    white-space: nowrap;
                    margin-left: 2.3rem;
                    margin-right: 2.2rem;
                    font-weight: 700;
                    font-size: 1.6rem;
                }
            }
            &_slider {
                min-width: 0;
                /* Обезательно для слайдера в flex */
                width: 171.6rem;
                height: 16.4rem;
                position: relative;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                /* Лента слайдов */
                & .slick-track {
                    display: flex;
                }
                & .slick-slide {
                    position: relative;
                    margin: 0rem 2.4rem;
                    width: 26.2rem;
                    height: 16.4rem;
                    >picture {
                        position: relative;
                        width: 100%;
                        height: 16.4rem;
                        span {
                            width: 26.2rem;
                            height: 16.4rem;
                        }
                        img {
                            width: 26.2rem;
                            height: 16.4rem;
                        }
                    }
                }
                >ul {
                    display: none;
                    // width: 4rem;
                    // top: 13.2rem;
                    // left: 48%;
                    // z-index: 6;
                    // > li {
                    //     margin: 0rem 0.5rem;
                    //     font-size: 2rem;
                    //     > button {
                    //         display: none;
                    //     }
                    // }
                }
                /* Слайд активный (показывается) */
                & .slick-slide.slick-active {
                    width: 26.2rem;
                    height: 16.4rem;
                    >picture {
                        span {
                            border: 0.2rem solid #fff;
                            width: 26.2rem;
                            height: 16.4rem;
                        }
                        img {
                            width: 26.2rem;
                            height: 16.4rem;
                        }
                    }
                }
            }
            &_arrows {
                justify-content: space-around;
                padding: 0rem 1.3rem;
                .slider_text {
                    /* Обезательно для слайдера в flex */
                    width: 18.1rem;
                    /* Ограничивающая оболочка */
                    & .slick-list {
                        overflow: hidden;
                    }
                    /* Лента слайдов */
                    & .slick-track {
                        width: 18.1rem;
                    }
                    .text-box {
                        width: 18.1rem;
                        position: relative;
                        padding: 0rem 0.8rem;
                        &-content {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 134%;
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                svg {
                    width: 3rem;
                    height: 1.4rem;
                    cursor: pointer;
                }
            }
        }
    }
    /* --SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER----SLIDER-- */

    /* --ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT-- */
    .about {
        position: relative;
        &_content {
            display: flex;
            flex-direction: column;
            >p {
                width: 64.1rem;
                font-weight: 400;
                font-size: 2.5rem;
                line-height: 134%;
                margin-bottom: 2.8rem;
                overflow: hidden;
                transform: translate(0px, 120%);
                opacity: 0;
                transition: all 0.8s ease 0s;

                &:last-child{
                    transition: all 0.8s ease 0.4s;
                }
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
                &._page{
                    margin-left: auto;
                }
                &._bunker{
                    margin-top: 16.3rem;
                }
            }
            >picture {
                z-index: 2;
                align-self: flex-end;

                overflow: hidden;
                transform: translate(100%, 0px);
                opacity: 0;
                transition: all 0.8s ease 0.4s;
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
                img {
                    width: 63.5rem;
                }
            }
        }
        >picture {
            z-index: -2;
            position: fixed;
            top: 30rem;
            left: 0;
            transform: rotate(25deg);
            img {
                width: 95.477rem;
                height: 91.24rem;
            }
        }
    }
    @media (max-width: 500px) {
        .about {
            &_content {
                > p {
                    width: 25.9rem;
                    font-size: 1.2rem;
                    margin-bottom: 2.2rem;
                    &._bunker{
                        margin-top: 6.3rem;
                    }
                }
                
                >picture {
                    z-index: 2;
                    align-self: center;
                    img {
                        border: 0.1rem solid #fff;
                        width: 22rem;
                    }
                }
            }
            >picture {
                img {
                    width: 33.8rem;
                    height: 32.3rem;
                }
            }
        }
    }
    /* --ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT----ABOUT-- */

    /* --STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS-- */
    .steps {
        position: relative;
        margin-top: 23.3rem;
        margin-bottom: 23.3rem;
        padding: 9.4rem 0rem 15.3rem 0rem;
        &_bac {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-position: 0rem -65rem;
                object-fit: cover;
            }
            > picture {
                width: 100%;
                position: absolute;
            }
        }
        &_header {
            position: relative;
            display: flex;
            align-items: center;

            transform: translate(-120%, 0px);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._animated {
                transform: translate(0px, 0px);
                opacity: 1;
            }

            >span {
                border: 1px solid #FFFFFF;
                height: 0.1rem;
                width: 49.6rem;
                &:last-child {
                    display: none;
                }
            }
            >p {
                margin-left: 5.8rem;
                font-weight: 300;
                font-size: 5rem;
                line-height: 134%;
            }
        }
        &_content {
            display: flex;
            margin-top: 12rem;
            justify-content: space-between;
            flex-wrap: wrap;
            .steps_item {
                display: flex;
                align-items: center;
                flex: 0 1 47%;
                
                &:nth-child(1) {
                    transform: translate(-120%, 0px);
                    opacity: 0;
                    transition: all 0.8s ease 0.4s;
                    margin-bottom: 20.3rem;
                }
                &:nth-child(2) {
                    transform: translate(120%, 0px);
                    opacity: 0;
                    transition: all 0.8s ease 0.4s;
                    margin-bottom: 20.3rem;
                }
                &:nth-child(3) {
                    transform: translate(-120%, 0px);
                    opacity: 0;
                    transition: all 0.8s ease 0.4s;
                }
                &:nth-child(4) {
                    transform: translate(120%, 0px);
                    opacity: 0;
                    transition: all 0.8s ease 0.4s;
                }
                &._animated {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
                .steps_number {
                    width: 15.2rem;
                    height: 15.2rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 7rem;
                    padding: 2.3rem 3.3rem;
                    font-weight: 700;
                    font-size: 8rem;
                    line-height: 134%;
                    border: 0.1rem solid #FFFFFF;
                    border-radius: 4rem 0rem;
                }
                .item_text {
                    position: relative;
                    >h3 {
                        font-weight: 700;
                        font-size: 2.5rem;
                        line-height: 134%;
                        margin-bottom: 1.2rem;
                    }
                    >p {
                        font-size: 2rem;
                        line-height: 134%;
                    }
                }
            }
        }
    }
    @media (max-width: 500px) {
        .steps {
            margin-top: 4.1rem;
            margin-bottom: 5.2rem;
            padding: 4.3rem 0rem 3.298rem 0rem;
            &_bac {
                img {
                    width: 200%;
                    object-position: 0rem -20rem;
                }
            }
            &_header {
                >span {
                    border: 1px solid #FFFFFF;
                    height: 0.1rem;
                    width: 8.2rem;
                    &:last-child {
                        display: block;
                    }
                }
                >p {
                    white-space: nowrap;
                    margin-left: 1.9rem;
                    margin-right: 1.8rem;
                    font-weight: 700;
                    font-size: 1.6rem;
                }
            }
            &_content {
                display: flex;
                margin-top: 2.7rem;
                justify-content: space-between;
                flex-wrap: wrap;
                .steps_item {
                    display: flex;
                    align-items: center;
                    flex: 0 1 100%;
                    margin-bottom: 3rem;
                    .steps_number {
                        width: 6.5rem;
                        height: 6.602rem;
                        margin-right: 1.2rem;
                        padding: 0.8rem 1.4rem 1.1rem 1.4rem;
                        font-weight: 700;
                        font-size: 3.5rem;
                        line-height: 134%;
                        border: 0.1rem solid #FFFFFF;
                        border-radius: 2rem 0rem;
                    }
                    &:nth-child(1) {
                        margin-bottom: 3rem;
                    }
                    &:nth-child(2) {
                        margin-bottom: 3rem;
                        flex-direction: row-reverse;
                        .steps_number {
                            margin-right: 0rem;
                            margin-left: 1.2rem;
                            border-radius: 0rem 2rem;
                        }
                    }
                    &:nth-child(4) {
                        margin-bottom: 3rem;
                        flex-direction: row-reverse;
                        .steps_number {
                            margin-right: 0rem;
                            margin-left: 1.2rem;
                            border-radius: 0rem 2rem;
                        }
                    }
                    .item_text {
                        >h3 {
                            font-size: 1.2rem;
                            margin-bottom: 0.4rem;
                        }
                        >p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    /* --STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS----STEPS-- */

    /* --FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM-- */
    .form{
        position: relative;
        margin-bottom: 17.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_content{
            & > h2 {
                font-size: 3rem;
                line-height: 134%;
                text-align: center;

                margin-bottom: 1.8rem;
            }
            & > p {
                font-size: 2rem;
                line-height: 134%;
                text-align: center;

                margin-bottom: 5.9rem;
            }
        }
        #form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 66.6rem;
            > div {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 2.9rem;
                > input{
                    width: 31.2rem;
                    outline: none;

                    background: rgba(255, 255, 255, 0.23);
                    border: 0.1rem solid #FFFFFF;

                    padding: 1.7rem 0rem 1.7rem 3.6rem;

                    font-size: 1.4rem;
                    line-height: 134%;
                    color: rgba(255, 255, 255, 0.63);

                    &.error{
                        border: 0.1rem solid #ff6246;
                    }

                    &:first-child{
                        border-radius: 2rem 0px 0px 0px;
                    }
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.63);
                    }
                    &:focus{
                        border: 0.1rem solid #e3ff46;
                    }
                }
            }
            .select {
                display: flex;
                position: relative;
                .dropdown_button{
                    width: 100%;
                    background: rgba(255, 255, 255, 0.23);
                    border: 0.1rem solid #FFFFFF;
                    padding: 1.7rem 3.6rem;
                    font-size: 1.4rem;
                    line-height: 134%;
                    color: rgba(255, 255, 255, 0.63);
                    text-align: start;
                    cursor: pointer;
                    &::after{
                        content: " ";
                        width: 0;
                        height: 0;

                        border-width: 1.04rem 0.6rem 0rem 0.6rem;
                        border-color:  rgba(255, 255, 255, 0.63) transparent transparent transparent;
                        border-style: solid;

                        position: absolute;
                        right: 3.6rem;
                        top: 2.5rem;
                    }
                    &:focus{
                        border: 0.1rem solid #e3ff46;
                    }
                }
                #dropdown-input{
                    display: none;
                    &.error ~ .dropdown_button{
                        border: 0.1rem solid #ff6246;
                    }
                }
                .dropdown_list{
                    position: absolute;
                    width: 100%;
                    top: 8.5rem;
                    z-index: 5;
                    display: none;
                    &.active{
                        display: block;
                    }
                    .dropdown_item{
                        width: 100%;
                        border: 0.1rem solid #FFFFFF;
                        padding: 1.7rem 3.6rem;
                        font-size: 1.4rem;
                        line-height: 134%;
                        color: rgba(255, 255, 255, 0.63);
                        text-align: start;
                        cursor: pointer;
                        &:hover:nth-child(1){
                            background-image: image-set(url('../src/services/1.webp') 1x, url('../src/services/1.png') 1x);
                        }
                        &:hover:nth-child(2){
                            background-image: image-set(url('../src/services/2.webp') 1x, url('../src/services/2.png') 1x);
                        }
                        &:hover:nth-child(3){
                            background-image: image-set(url('../src/services/3.webp') 1x, url('../src/services/3.png') 1x);
                        }
                        &:hover:nth-child(4){
                            background-image: image-set(url('../src/services/4.webp') 1x, url('../src/services/4.png') 1x);
                        }
                        &:hover:nth-child(5){
                            background-image: image-set(url('../src/services/5.webp') 1x, url('../src/services/5.png') 1x);
                        }
                        &:hover:nth-child(6){
                            background-image: image-set(url('../src/services/6.webp') 1x, url('../src/services/6.png') 1x);
                        }
                        &:hover:nth-child(7){
                            background-image: image-set(url('../src/services/7.webp') 1x, url('../src/services/7.png') 1x);
                        }
                        &:hover:nth-child(8){
                            background: rgba(0, 0, 0, 1);
                        }
                        background-color: #0E0E1C;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
            > textarea{
                width: 100%;
                height: 13.7rem;
                background: rgba(255, 255, 255, 0.23);
                border-radius: 0px 0px 2rem 0px;
                border: 0.1rem solid #FFFFFF;
                padding: 1.7rem 3.6rem;
                font-size: 1.4rem;
                line-height: 134%;
                color: rgba(255, 255, 255, 0.63);
                margin-bottom: 2.9rem;
                outline: none;
                resize: vertical;
                &.error{
                    border: 0.1rem solid #ff6246;
                }
                &:focus{
                    border: 0.1rem solid #e3ff46;
                }
                &::placeholder{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 134%;
                    color: rgba(255, 255, 255, 0.63);
                }
            }
            .form_button{
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 134%;           
                text-align: center;
                color: #0E0E1C;

                padding: 1.6rem 6.6rem;
                background: #FFFFFF;
                border: 0.1rem solid #FFFFFF;
                border-radius: 0rem 2rem;
                cursor: pointer;
            }
        }
    }
    @media (max-width: 500px) {
        .form{
            margin-bottom: 4.8rem;
            &_content{
                & > h2 {
                    font-size: 1.6rem;
                    margin-bottom: 1.3rem;
                }
                & > p {
                    font-size: 1rem;
                    margin-bottom: 2.2rem;
                }
            }
            #form {
                width: 26.2rem;
                > div {
                    flex-direction: column;
                    margin-bottom: 1.2rem;
                    > input{
                        width: 100%;
    
                        padding: 1.6rem 0rem 1.6rem 2rem;
    
                        font-size: 0.9rem;
    
                        &:first-child{
                            border-radius: 2rem 0px 0px 0px;
                            margin-bottom: 1.2rem;
                        }
                    }
                }
                .select {
                    .dropdown_button{
                        padding: 1.6rem 2.0rem;
                        font-size: 0.9rem;
                        &::after{
                            border-width: 0.64rem 0.4rem 0rem 0.4rem;
                            right: 2.2rem;
                            top: 2rem;
                        }
                    }
                    .dropdown_list{
                        top: 5.8rem;
                        .dropdown_item{
                            padding: 1.6rem 2rem;
                            font-size: 0.9rem;
                        }
                    }
                }
                > textarea{
                    height: 7.8rem;
                    padding: 1.6rem 2rem;
                    font-size: 0.9rem;
                    margin-bottom: 1.7rem;
                    &::placeholder{
                        font-size: 0.9rem;
                    }
                }
                .form_button{
                    font-size: 1rem;
                    line-height: 134%;           
                    padding: 1.5rem 5.1rem;
                }
            }
        }
    }
    /* --FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM----FORM-- */
}
/* --MAIN----MAIN----MAIN-- */


/* --FOOTER----FOOTER----FOOTER-- */
.footer {
    background-color: #fff;
    position: relative;
    padding: 2.8rem 0rem 6.539rem 0rem;
    &_header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >span {
            width: 61.6rem;
            height: 0.1rem;
            background-color: #0E0E1C;
            &:first-child {
                display: none;
            }
        }
        >p {
            font-size: 4rem;
            margin-right: 15rem;
            line-height: 134%;
            color: #0E0E1C;
        }
    }
    &_content {
        position: relative;
        padding: 0rem 7.9rem 0rem 6.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .footer_item {
            flex: 0 1 33%;
            >h3 {
                font-weight: 700;
                font-size: 2rem;
                line-height: 134%;
                color: #0E0E1C;
                margin-bottom: 1.7rem;
            }
            >a,
            p {
                font-size: 1.5rem;
                line-height: 134%;
                color: #0E0E1C;
            }
            .footer_map {
                display: flex;
                a {
                    font-size: 1.5rem;
                    line-height: 134%;
                    color: #0E0E1C;
                }
                >img {
                    margin-left: 1rem;
                    width: 1.3rem;
                    height: 2rem;
                }
            }
            .footer_phone {
                display: flex;
                justify-content: space-between;
                >a {
                    font-size: 1.5rem;
                    line-height: 134%;
                    color: #0E0E1C;
                }
            }
            &:first-child {
                flex: 0 1 100%;
                margin-bottom: 3.6rem;
            }
            &:nth-child(2) {
                flex: 0 1 35%;
            }
            &:nth-child(3) {
                // flex: 0 1 35%;
                margin-left: 7rem;
            }
            &:last-child {
                flex: 0 1 20%;
                display: flex;
                align-items: center;
            }
            >img {
                width: 9.375rem;
                height: 9.161rem;
                margin-right: 1rem;
            }
            .logo_text {
                font-size: 1.5rem;
                line-height: 134%;
                letter-spacing: 0.27em;
                text-transform: uppercase;
                color: #0E0E1C;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 2.1rem 0rem 1.6rem 0rem;
        &_header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >span {
                width: 61.6rem;
                height: 0.1rem;
                &:first-child {
                    display: block;
                }
            }
            >p {
                font-size: 1.6rem;
                margin-right: 3.7rem;
                margin-left: 3.7rem;
            }
        }
        &_content {
            position: relative;
            padding: 0rem 0rem 0rem 0rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            .footer_item {
                flex: 0 1 100%;
                >h3 {
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
                >a,
                p {
                    font-size: 1.2rem;
                }
                .footer_map {
                    display: flex;
                    a {
                        font-size: 1.2rem;
                    }
                    >img {
                        margin-left: 1rem;
                        width: 1.3rem;
                        height: 2rem;
                    }
                }
                .footer_phone {
                    display: flex;
                    justify-content: space-between;
                    >a {
                        font-size: 1.2rem;
                        line-height: 134%;
                        color: #0E0E1C;
                    }
                }
                &:first-child {
                    flex: 0 1 100%;
                    margin-bottom: 1.6rem;
                }
                &:nth-child(2) {
                    flex: 0 1 100%;
                    margin-bottom: 1.6rem;
                }
                &:nth-child(3) {
                    flex: 0 1 100%;
                    margin-left: 0rem;
                    margin-bottom: 1.6rem;
                }
                &:last-child {
                    flex: 0 1 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                >img {
                    width: 6.9rem;
                    height: 6.8rem;
                    margin-right: 0rem;
                }
                .logo_text {
                    display: none;
                }
            }
        }
    }
}
/* --FOOTER----FOOTER----FOOTER-- */